spring:
  datasource:
    url: jdbc:h2:file:./andrea.h2;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:PassW0rd}
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true

app:
  jwt:
    secret: "whosYourDaddy!GreedIsGood!ToBe,OrNotToBe!ThatIsTheQuestion!"